<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Hb Portfolio</title>
    <header>
        <img src="https://www.spiced-academy.com/wp-content/themes/spicedwp/img/spiced-logo.svg" alt="logo">
    </header>
</head>

<body>

    {{{ body }}}

    <footer>SPICED Education, 2019</footer>
</body>

</html>